<div class="col-sm-3 cates">
	<ul>
		<li><span class="glyphicon glyphicon-search"></span>IT程序</li>
		<li><span class="glyphicon glyphicon-search"></span>历史文化</li>
		<li><span class="glyphicon glyphicon-search"></span>文学艺术</li>
		<li><span class="glyphicon glyphicon-search"></span>名人传记</li>
		<li><span class="glyphicon glyphicon-search"></span>儿童故事</li>
	</ul>
</div>
<div class="col-sm-9 catetitle">
	<p class="b1">book name</p>
	<p class="b1">book name</p>
	<p class="b1">book name</p>
	<p class="b1">book name</p>
	<p class="b1">book name</p>
</div>