$cate-border: 1px solid #E1E1E1;
.cates{
	padding:0;
	ul{
		margin:0 50px 0 0;
		li{
			border: $cate-border;
			border-top: none;
			padding: 0 0 1px -22px;
			cursor: pointer;
			span{
				margin: -1px 30px 1px 0;
        line-height: 36px;
        text-align: center;
        border: 1px solid #E1E1E1;
        width: 36px;
        height: 36px;
        border-radius: 50%;
			}
		}
		li:nth-child(1){
			border-top: $cate-border;
		}
	}
}

.cate-content{
	margin: 0;
	padding: 0;

	.cate-banner{
		padding: 0 0 30px 5px;
		vertical-align: middle;

		.cate-map{
			font-weight: 500;
		}

		.cate-order-kw{
			float:right;
			margin-right: 10px;
			input,label{
				cursor: pointer;
			}
		}

		.cate-search{
			input{
				padding: 3px 8px;
				float:right;
				width: 220px;
				height: 28px;
				line-height: 28px;
				background-color: #F4F3EF;
				border: $input-border;
				outline: $outline-border;
			}
			button{
				float:right;
				margin-right: 12px;
				padding:0 14px;
				height: 28px;
			}
		}
	}

	.book-figure{
		cursor: pointer;
		width: 100%;
		height: 45px;
		background-color: #E1E1E1;

		img{
			width:30px;
			float: left;
		}
		.title{
			text-align: left;
			width: 180px;
			height: 100%;
			padding: 0 10px;
			font-size: 22px;
		}
		.desc{
			width: 100%;
			height: 100%;
			text-align: left;
		}

		&:hover{
			background-color: #aaa;
			padding: 5px;
		}
	}
}